### 3. Scrape the details of selenium exception from guru99.com.
* Url = https://www.guru99.com/
* You need to find following details:
* A) Name
* B) Description

In [211]:
import requests
import selenium
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

In [305]:
driver = webdriver.Chrome("chromedriver.exe")

In [152]:
Url = "https://www.guru99.com/"
driver.get(Url)

In [153]:
click = driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [154]:
ser=driver.find_element_by_xpath("//a[@data-lasso-id='182688']")
ser.click()

In [155]:
All = []
name=[]
des=[]

In [156]:
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//td"):
    All.append(i.text)

In [161]:
name=All[0:len(All):2]
des=All[1:len(All):2]

In [165]:
selenium=pd.DataFrame({"EXCEPTION NAME":name,
                      "DESCRIPTION":des})
selenium

,EXCEPTION NAME,DESCRIPTION
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
* Url = http://statisticstimes.com/
* You have to find following details:
- A) Rank
- B) State
- C) GSDP at current price (19-20)
- D) GSDP at current price (18-19)
- E) Share(18-19)
- F) GDP($ billion)

In [407]:
driver.get('http://statisticstimes.com/')

In [410]:
btn=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
btn.click()

In [196]:
rank=[]
state=[]
gdsp=[]
gsdp=[]
share=[]
gdp=[]
q=[]

In [197]:
for i in driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//td'):
    q.append(i.text)

In [205]:
rank=q[0:len(q):8]
state=q[1:len(q):8]
gdsp=q[2:len(q):8]
gsdp=q[3:len(q):8]
share=q[4:len(q):8]
gdp=q[5:len(q):8]

In [208]:
gdp=pd.DataFrame({"RANK":rank[:33],
                 "STATE":state[:33],
                 "GSDP at current price (19-20)":gdsp[:33],
                 "GSDP at current price (18-19)":gsdp[:33],
                 "SHARE(18-19)":share[:33],
                 "GDP($ billion)":gdp[:33]})
gdp

,RANK,STATE,GSDP at current price (19-20),GSDP at current price (18-19),SHARE(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [307]:
driver.get('https://www.naukri.com/')
driver.find_element_by_xpath('//a[@title="Search Recruiters"]').click()

In [308]:
driver.switch_to.window(driver.window_handles[-1])

In [309]:
search_bar = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_button = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')

In [310]:
search_bar.send_keys("Data Science")
search_button.click()

In [311]:
Name=[]
designation=[]
company=[]
skills=[]
location=[]

In [312]:
# Name
for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
    Name.append(i.text)
# Designation    
for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
    designation.append(i.text)
    
#Company
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]'):
    company.append(i.text)
    
# skills

for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
    skills.append(i.text)

In [313]:
for i in driver.find_elements_by_xpath('//small[@class="ellipsis"]'):
    if i.text is None:
        location.append("--")
    else:
        location.append(i.text)

In [314]:
naukri=pd.DataFrame({"NAME":Name,
                    "DESIGNATION":designation,
                    "COMPANY":company,
                    "SKILLS":skills,
                    "LOCATION":location})
naukri

,NAME,DESIGNATION,COMPANY,SKILLS,LOCATION
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [81]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [105]:
name = []
year = []
genre = []
Run =[]
rating = []
vote =[]
# Getting Name
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a'):
    name.append(i.text.strip())
    
# Getting year
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//span[2]'):
    year.append(i.text.strip())
    
# Genre
for i in driver.find_elements_by_xpath('//span[@class="genre"]'):
    genre.append(i.text)
    
# Rating

for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]'):
    rating.append(i.text)
    
# run time
for i in driver.find_elements_by_xpath('//span[@class="runtime"]'):
    Run.append(i.text)
    
# Votes
for i in driver.find_elements_by_xpath('//span[@name="nv"]'):
    vote.append(i.text)

In [107]:
web_series = pd.DataFrame({"Name":name,"Year span":year,"Genre":genre,"Run time":Run,"Ratings":rating,"Votes":vote})

web_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,865,612"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"901,339"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"893,659"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"269,044"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,251"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,450"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,317"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,090"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,442"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"197,946"

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [66]:
driver.get('https://www.billboard.com/')

In [67]:
search=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a')
search.click()

In [68]:
sn=[]
art=[]
lw=[]
pr=[]
week=[]

In [69]:
for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
    sn.append(i.text)
    
for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]'):
    art.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]'):
    lw.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]'):
    pr.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
    week.append(i.text)

In [71]:
songs=pd.DataFrame({"SONGS NAME":sn,
                   "ARTISTS":art,
                   "LAST WEEK RANK":lw,
                   "PEAK RANK":pr,
                   "WEEK ON CHART":week})
songs

,SONGS NAME,ARTISTS,LAST WEEK RANK,PEAK RANK,WEEK ON CHART
0,Stay,The Kid LAROI & Justin Bieber,1,1,7
1,Bad Habits,Ed Sheeran,2,2,9
2,Good 4 U,Olivia Rodrigo,3,1,15
3,Kiss Me More,Doja Cat Featuring SZA,5,3,20
4,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
95,Tick Tock,Young Thug,-,96,1
96,Permission To Dance,BTS,66,1,7
97,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
98,Time Heals,Rod Wave,-,99,1
99,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [75]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [76]:
bn=[]
an=[]
vs=[]
pub=[]
genre=[]
c=[]

In [77]:
for i in driver.find_elements_by_xpath('//table[@class="in-article sortable"]//td'):
    c.append(i.text)

In [100]:
bn=c[2:len(c):6]
an=c[3:len(c):6]
vs=c[4:len(c):6]
pub=c[5:len(c):6]

In [101]:
genre=c[6:len(c):6]

In [103]:
novels=pd.DataFrame({"BOOK NAME":bn,
                    "AUTHOR NAME":an,
                    "VOLUME SOLD":vs,
                    "PUBLISHER":pub,
                    "GENRE":genre})
novels

,BOOK NAME,AUTHOR NAME,VOLUME SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [315]:
driver.get('https://archive.ics.uci.edu/')

In [316]:
search=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
search.click()

In [110]:
ds=[]
dt=[]
task=[]
at=[]
ni=[]
na=[]
yr=[]
n=[]

In [111]:
for i in driver.find_elements_by_xpath('//table[@border="1"]//td'):
    n.append(i.text)

In [118]:
ds=n[9:len(n):9]
dt=n[10:len(n):9]
task=n[11:len(n):9]
at=n[12:len(n):9]
ni=n[13:len(n):9]
na=n[14:len(n):9]
yr=n[15:len(n):9]

In [119]:
dataset=pd.DataFrame({"Dataset name":ds,
                     "Data type":dt,
                     "Task":task,
                     "Attribute type":at,
                     " No of instances":ni,
                     "No of attribute":na,
                     "Year":yr})
dataset

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [367]:
driver.get('https://www.bcci.tv/')

In [368]:
ser=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]')
ser.click()

In [369]:
fix=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]')
fix.click()

In [370]:
mt=[]
seri=[]
pl=[]
day=[]
month=[]

In [371]:
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']"):
    mt.append(i.text)

In [372]:
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    seri.append(i.text)

In [373]:
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span"):
    pl.append(i.text)

In [374]:
Date=[]

In [375]:
for i in driver.find_elements_by_xpath('//span[@class="fixture__date"]'):
    day.append(i.text)
    
for i in driver.find_elements_by_xpath('//span[@class="fixture__month"]'):
    month.append(i.text)
for x,y in zip(day, month,):    
    Date.append((x+ " "+   y))

In [376]:
len(Date)

6

In [377]:
bcci=pd.DataFrame({"MATCH":mt,
             "SERIES":seri,
             "PLACE":pl,
             "DATE":Date})

In [378]:
bcci

,MATCH,SERIES,PLACE,DATE
0,TEST,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER
1,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",24 OCTOBER
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",31 OCTOBER
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Sheikh Zayed Cricket Stadium, Abu Dhabi",03 NOVEMBER
4,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",05 NOVEMBER
5,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",08 NOVEMBER

1.Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [166]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [180]:
rank=[]
name=[]
art=[]
ud=[]
view=[]
s=[]

In [188]:
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td"):
    s.append(i.text)

In [190]:
rank=s[0:len(s):6]
name=s[1:len(s):6]
art=s[2:len(s):6]
view=s[3:len(s):6]
ud=s[4:len(s):6]

In [194]:
youtube=pd.DataFrame({"RANK":rank[:30],
                     "VIDEO NAME":name[:30],
                     "ARTIST":art[:30],
                     "VIEWS":view[:30],
                     "UPLOAD DATE":ud[:30]})
youtube

,RANK,VIDEO NAME,ARTIST,VIEWS,UPLOAD DATE
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.20,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.50,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.65,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.43,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.23,"April 6, 2015"
5,6.,"""Bath Song""[30]",Cocomelon – Nursery Rhymes,4.47,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[31]",Miroshka TV,4.45,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.45,"January 31, 2012"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.27,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.16,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.10,"March 6, 2014"
11,12.,"""Dame Tu Cosita""[37]",El Chombo,3.54,"April 5, 2018"
12,13.,"""Sugar""[38]",Maroon 5,3.54,"January 14, 2015"
13,14.,"""Sorry""[39]",Justin Bieber,3.46,"October 22, 2015"
14,15.,"""Roar""[40]",Katy Perry,3.41,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.37,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.31,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.23,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.13,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.12,"December 3, 2015"
20,21.,"""Girls Like You""[46]",Maroon 5,3.10,"May 31, 2018"
21,22.,"""Shake It Off""[47]",Taylor Swift,3.09,"August 18, 2014"
22,23.,"""Lean On""[48]",Major Lazer,3.08,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.08,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.06,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.96,"June 29, 2017"
26,27.,"""Axel F""[52]",Crazy Frog,2.95,"June 16, 2009"
27,28.,"""Perfect""[53]",Ed Sheeran,2.93,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.92,"June 4, 2010"
29,30.,"""Hello""[55]",Adele,2.87,"October 22, 2015"

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [395]:
driver.get('https://github.com/')

In [396]:
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/button")
explore.click()

In [397]:
for i in driver.find_elements_by_xpath('//details[@class="HeaderMenu-details details-overlay details-reset width-full"]'):
    if i.text =='Explore':
        i.click()

In [398]:
explore=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
explore.click()

In [399]:
name=[]
des=[]
lang=[]
for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]'):
    name.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]'):
    des.append(i.text)

In [400]:
#fetching all the url
urls=[]
for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a'):
    urls.append(i.get_attribute('href'))

for i in urls:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath('//div[@class="BorderGrid-cell"]//ul[@class="list-style-none"]'):
            lang.append(i.text.replace("\n"," "))
    except NoSuchElementException:
        lang.append("---")
        None

In [406]:
github=pd.DataFrame({"Repository title":name,
                    "Repository description":des,
                    " Language used":lang})
github

,Repository title,Repository description,Language used
0,GTAmodding / re3,"GTA III, Vice City",C++ 92.8% C 5.6% Assembly 0.6% CMake 0.4% Lua ...
1,VickScarlet / lifeRestart,やり直すんだ。そして、次はうまくやる。,JavaScript 58.9% CSS 22.1% HTML 19.0%
2,lootproject / website,Loot Project website,TypeScript 89.3% SCSS 10.7%
3,TheAlgorithms / Python,All Algorithms implemented in Python,
4,Anish-Agnihotri / dhof-loot,Scripts to collect statistics about LOOT + der...,liberapay.com/TheAlgorithms
5,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,Python 100.0%
6,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,JavaScript 100.0%
7,microsoft / PowerToys,Windows system utilities to maximize productivity,
8,openwrt / openwrt,This repository is a mirror of https://git.ope...,liberapay.com/TheAlgorithms
9,v2fly / v2ray-core,A platform for building proxies to bypass netw...,C++ 98.6% CMake 1.4%
10,MarlinFirmware / Marlin,Marlin is an optimized firmware for RepRap 3D ...,Python 98.0% Shell 2.0%
11,HashLips / generative-art-opensource,Create generative art by using the canvas api ...,C# 50.4% C++ 48.1% Other 1.5%
12,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,C 74.8% Makefile 12.2% Shell 4.6% Roff 3.7% Pe...
13,metaplex-foundation / metaplex,Protocol and application framework for decentr...,@MidSmer / cloud-app
14,armosec / kubescape,kubescape is the first tool for testing if Kub...,Go 99.7% Other 0.3%
15,wrfree / free,freefq账号已恢复！翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ra...,thinkyhead Scott Lahteine
16,bespoyasov / frontend-clean-architecture,React + TypeScript app built using clean archi...,patreon.com/thinkyhead https://www.thinkyhead....
17,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,C++ 66.0% C 31.6% Python 0.7% Shell 0.7% JavaS...
18,0voice / Introduction-to-Golang,【未来服务器端编程语言】最全空降golang资料补给包（满血战斗），包含文章，书籍，作者论文...,JavaScript 100.0%
19,iptv-org / iptv,Collection of publicly available IPTV channels...,Assembly 92.1% C 1.9% Brainfuck 1.5% Roff 1.3%...
20,Anuken / Mindustry,A sandbox tower defense game,Rust 51.7% TypeScript 44.0% Less 1.9% JavaScri...
21,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,Go 99.6% Shell 0.4%
22,NotLuksus / nft-art-generator,A tool to generate generative NFT art projects.,TypeScript 90.3% CSS 7.7% HTML 2.0%
23,vnpy / vnpy,基于Python的开源量化交易平台开发框架,
24,jackfrued / Python-100-Days,Python - 100天从新手到大师,liberapay.com/TheAlgorithms